<!-- contains a partial for an individual blog page -->

<h1><%= post['title'] %></h1>
<p>
  <%= post['content'] %>
</p>
<p>
  <%= post['created_at'] %>
</p>
<!-- Displays Edit/Delete buttons for logged in user -->
<% if (locals.email) { %>
<div>
	<a href="/blog/edit/<%= post['slug'] %>" class="btn btn-outline-primary btn-sm">Edit</a>
	<form action="/blog/delete/<%= post['slug'] %>" method="POST" style="display: inline;">
		<input type="hidden" name="_method" value="DELETE" />
		<button class="btn btn-outline-danger btn-sm" type="submit">Delete</button>
	</form>
</div>
<% } %>
<!-- Adds the title to the layout  - see EJS Layouts -->
<%- contentFor('title') %>
<%= post['title'] %>
